{% extends "theme/base.html" %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}
    <!-- <div class="container">
        <h1 class="display-4">Dashboard</h1>
    </div> -->
    <div class="table_label">
        {% if user_type_id == 1 %}
            Available Job Positions
            <a href="{{ url_for('form_create_job_position') }}">{{"[Add]" if user_type_id == 1 else "[Find]"}}</a>
        {% else %}
            My Applications
            <a href="{{ url_for('find_job_page') }}">{{"[Add]" if user_type_id == 1 else "[Find]"}}</a>
        {% endif %}
    </div>
    <div class="table_container">
        {% include "job_list.html" %}
    </div>
{% endblock %}
