{% extends "theme/base.html" %}

{% block title %}
    <title>Job</title>
{% endblock %}

{% block content %}
    <div class="flex justify-center">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id="formLogin" method="post">
            <div class="text-4xl text-center">Job Position</div>
            <div class="text-red-600">{{ errors }}</div>
            <input type="hidden" name="form_employer_id" value="{{ detailed_user.id }}">
            <div>
                <label for="username" class="block">Title</label>
                <input type="text" name="title" id="title" value="{{ title }}" class="form-input rounded">
            </div>
            <div>
                <label for="password" class="block">Description</label>
                <input type="text" name="description" id="description" value="{{ description }}" class="form-input rounded">
            </div>
            <div>
                <label for="password" class="block">Salary?</label>
                <input type="text" name="salary" id="salary" value="{{ salary }}" class="form-input rounded">
            </div>
            <div>
                <button type="submit" class="border rounded text-xl bg-sky-500 p-2">Create</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
{% endblock scripts %}
