<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/css/tailwind.css') }}" rel="stylesheet" />
    <title>Connected</title>

    {% block title %}
    {% endblock %}
</head>

<body>
    {% include "/theme/header.html" %}

    <div>
        <input type="hidden" name="user_id" id="user_id" value="{{ detailed_user.user.id }}">
        {% if user_type_id == 1 %}
            <input type="hidden" name="employer_id" id="employer_id" value="{{ detailed_user.id }}">
        {% else %}
            <input type="hidden" name="applicant_id" id="applicant_id" value="{{ detailed_user.id }}">
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}

    {% include "/theme/footer.html" %}
</body>
</html>