<!-- Tailwind-css Navbar  -->
<nav class="bg-indigo-700 shadow-lg">
    <div class="container mx-auto">
        <div class="sm:flex justify-around">
            <!-- Site-title  -->
            <a href="#" class="text-white text-3xl font-bold p-3">Connected</a>

            <!-- Menus  -->
            <ul class="text-gray-400 sm:self-center text-xl border-t sm:border-none">
                <li class="sm:inline-block">
                    <a href="/dashboard/" class="p-3 hover:text-white">{{ detailed_user.company_name if user_type_id == 1 else detailed_user.user.first_name + ' ' + detailed_user.user.last_name }}</a>
                </li>
                <li class="sm:inline-block">
                    <a href="{{ "#" if user_type_id == 1 else url_for('find_job_page') }}" class="p-3 hover:text-white">{{ "Find Applicants" if user_type_id == 1 else "Find Jobs" }}</a>
                </li>
                <li class="sm:inline-block">
                    <a href="{{ url_for('logout') }}" class="p-3 hover:text-white">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>