<!-- Tailwind-css Navbar  -->
<nav class="bg-indigo-700 shadow-lg">
    <div class="container mx-auto">
        <div class="sm:flex justify-around">
            <!-- Site-title  -->
            <a href="#" class="text-white text-3xl font-bold p-3">Connected</a>

            <!-- Menus  -->
            <ul class="text-gray-400 sm:self-center text-xl border-t sm:border-none">
                <li class="sm:inline-block">
                    <a href="#" class="p-3 hover:text-white">ApplicantProfile/CompanyProfile</a>
                </li>
                <li class="sm:inline-block">
                    <a href="#" class="p-3 hover:text-white">{{ "Find Applicants" if data.user_type_id == 1 else "Find Jobs" }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>